body{
    font-family: Arial;
    background: #f0f0f0;
}

.container{
    background: white;
    width: 500px;
    margin: 30px auto;
    padding: 20px ;
    border-radius: 10px;
}

input{
    width: 90%;
    margin: 5px 0;
    padding: 8px;
}

button{
    width: 90%;
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table,th,td{
    border: 1px solid #ccc;
    padding: 8px;
}
.delete-btn{
    background: red;
    color:white;
    padding: 5px;
    border: none;
    cursor: pointer;
}